* {
    box-sizing: border-box;
}
@media screen and (max-width: 5px) {
    .scheduleinfo {
        width: 10%;
        transform: translateX(90%);
    }
}

.openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
}
.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}
.formPopup {
    /*padding-right: 100px;*/
    width: 100%/*550px*/;
    background-color: beige;
    display: none;
    position: fixed;
    left: 50%;/*45%;*/
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}
.formContainer {
    max-width: 40%;/*280px;*//*300px;*/
    padding: 20px;
    background-color: #fff;
}
.formContainer input[type=text],
.formContainer input[type=text],
.formContainer input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eeeeee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=text]:focus,
.formContainer input[type=text]{
    background-color: #ddd;
    outline: none;
}
.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}
.formContainer .cancel {
    background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}